<ngb-carousel class="ng-carousel"
              [showNavigationArrows]="false"
              [showNavigationIndicators]="true"
              [interval]="5000"
              [keyboard]="true"
              [pauseOnHover]="true"
              [wrap]="true"
              [activeId]="'secondSlide'">
  <ng-template ngbSlide ngbButton *ngFor="let q of quotes">
    <div class="ng-text text-center">
      <h3>{{ q.anime }}</h3>
      <p>{{ q.quote }}</p>
      <p>~ {{ q.character }}</p>
    </div>
  </ng-template>
</ngb-carousel>
