<div class="album py-5 bg-light">
  <div class="container-fluid ">
    <div class="row height bottom-margin justify-content-center align-items-center">
      <div class="col-md-6">
        <input type="text" class="form-control form-input" #movieSearchInput placeholder="Search anything..."/>
      </div>
      <div class="col-md-2">

        <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
          <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Toggle dropdown</button>
          <div ngbDropdownMenu aria-labelledby="dropdownManual">
            <button ngbDropdownItem>Action - 1</button>
            <button ngbDropdownItem>Another Action</button>
            <button ngbDropdownItem>Something else is here</button>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <ng-container *ngIf="animeList">
        <div *ngFor="let anime of animeList.data">
          <div class="col">
            <div class="card shadow-sm">
              <div class="card-thumbnail">
                <img src="{{anime.images?.webp?.large_image_url}}" class="card-img-top img-fluid  w-100 text-center"
                     alt="default"/>
              </div>
              <div class="card-body">
                <h5 class="card-title">{{anime.title}}</h5>
                <p class="card-text">{{anime.synopsis | elipses:255}}</p>
                <p class="card-text">{{anime.genres | combine:' ,'}}</p>
              </div>
              <!--<div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>-->
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!animeList">
        <ngx-spinner name="items-spinner" type="pacman" color="yellow"></ngx-spinner>
      </ng-container>
    </div>
  </div>
</div>
